html {
  font-family: "Cormorant Garamond", serif;
}

h1,
h2 {
  font-family: "Delius Unicase", sans-serif;
}

h2 {
  color: #93612c;
}

.masthead,
.footer {
  background-color: #93612c;
  color: #fff;
}

.nav a {
  border-bottom: .1em solid currentColor;
  color: #fff;
  text-decoration: none;
}

.logo {
  width: 64px;
}

.banner-content {
  color: #fff;
  text-shadow: .1em .1em .3em rgba(0, 0, 0, .6);
}

.yotta {
  font-family: "Cormorant Garamond", serif;
}

.ib {
  font-family: "Delius Unicase", sans-serif;
}

.push-1-2 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

footer {
  margin-bottom: 0;
  margin-top: 0;
}

footer .block {
  margin-bottom: .2rem;
  margin-top: .2rem;
}

@media only screen and (min-width: 90em) {

  .push-1-2 {
    margin-bottom: .5rem;
    margin-top: .8rem;
  }

}
